ul {
    list-style: none;
    text-decoration: none;
}

a:link { text-decoration: none; }

.list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px 5px;
    margin: 40px;
}

.list button {
    width: 100px;
    height: 30px;
}